In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1. Membuat DataFrame 3Ã—4 dengan Kolom Zahra, Lily, Dito, dan Naufal

In [3]:
np.random.seed(42)
data = np.random.randint(0, 101, size=(3, 4))

column_names = ["Zahra", "Lily", "Dito", "Naufal"]
df = pd.DataFrame(data, columns=column_names)

In [4]:
# 2. Menampilkan Seluruh DataFrame

In [5]:
print(df, "\n")

   Zahra  Lily  Dito  Naufal
0     51    92    14      71
1     60    20    82      86
2     74    74    87      99

In [6]:
# 3. Menampilkan Nilai dalam Sel Baris #1 dari Kolom Tertentu

In [7]:
print(f"Baris #1, Kolom Lily (Kelas A): {df.loc[0, 'Lily']}")
print(f"Baris #1, Kolom Naufal (Kelas B): {df.loc[0, 'Naufal']}")
print(f"Baris #1, Kolom Zahra (Kelas C): {df.loc[0, 'Zahra']}\n")

Baris #1, Kolom Lily (Kelas A): 92
Baris #1, Kolom Naufal (Kelas B): 71
Baris #1, Kolom Zahra (Kelas C): 51

In [8]:
# 4. Menambahkan Kolom Kelima Bernama "Janet"

In [9]:
df["Janet"] = df["Zahra"] + df["Dito"]

In [10]:
# 5. Menampilkan DataFrame Setelah Menambahkan Kolom "Janet"

In [11]:
print(df)

   Zahra  Lily  Dito  Naufal  Janet
0     51    92    14      71     65
1     60    20    82      86    142
2     74    74    87      99    161