In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1. Membuat Data Cell

In [3]:
my_data = np.random.randint(0, 101, size=(3, 4))
column_names = ["Zahra", "Lily", "Dito", "Naufal"]
data_frame = pd.DataFrame(data=my_data, columns=column_names)
print(data_frame)

   Zahra  Lily  Dito  Naufal
0     64    60    65      37
1     46    70    39      58
2     10    74    73      25

In [4]:
# 2. Menambahkan Kolom Baru

In [5]:
data_frame["Janet"] = data_frame["Zahra"] + data_frame["Dito"]
print(data_frame)

   Zahra  Lily  Dito  Naufal  Janet
0     64    60    65      37    129
1     46    70    39      58     85
2     10    74    73      25     83

In [6]:
# 3. Menentukan Subset

In [7]:
print("rows 0, 1, and 2")
print(data_frame.head(3), "\n")

print("row 1: ")
print(data_frame.iloc[[1]], '\n')

print("row 1 and 2: ")
print(data_frame[1:3], '\n')

print("Column 'Janet'")
print(data_frame['Janet'])

rows 0, 1, and 2
   Zahra  Lily  Dito  Naufal  Janet
0     64    60    65      37    129
1     46    70    39      58     85
2     10    74    73      25     83

row 1:
   Zahra  Lily  Dito  Naufal  Janet
1     46    70    39      58     85

row 1 and 2:
   Zahra  Lily  Dito  Naufal  Janet
1     46    70    39      58     85
2     10    74    73      25     83

Column 'Janet'
0    129
1     85
2     83
Name: Janet, dtype: int32